%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 noet syntax=erlang
{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{deps, [
	{jiffy, "0.8.*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.5"}}},
	{hackney, "0.8.*", {git, "https://github.com/benoitc/hackney.git", {tag, "0.8.3"}}}
]}.
