%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 noet syntax=erlang
{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{deps, [
	{jiffy, "0.8.*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.2"}}},
	{hackney, "0.4.*", {git, "https://github.com/benoitc/hackney.git", {tag, "f63461a8424f6a957b6a5aa9116c054ef7873961"}}}
]}.
